BODY {
	padding-top: 50px;
}
.ctrl-label {
	font-size: 2.0em;
}
.row-status {
	padding: 6px 0;
	border-radius: 4px;
	margin-bottom: 2px;
}
.status-active {
	background-color: rgba(56, 255, 0, 0.1);
}
.section-title {
	margin-top: 2em;
}
.addon-fixed-size {
	width: 50px;
}

.custom-icon {
	position: relative;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	top: 7px;
	background-position: center center;
	background-repeat: no-repeat;
}
.custom-icon-irrigation {
	background-image: url(images/irrigation.png);
}
.custom-icon-lighting {
	background-image: url(images/lighting.png);
}

#light-level-graph {
	min-width: 310px;
	height: 400px;
	margin: 0 auto;
}